:root{
    --primary: #007bff;
    --lightprimary: #0056b3;
    --white: #ffffff;
    --silver: #bcbcbc9e;
    --defaultLinkColor: #333;
    --yellow: #FFD700;
    --muted: #777777;
    --whiteBG: #F8FAFC;
}

*{
    font-family: sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    
}
li{
    list-style: none;
}
body{
    align-items: center;
    overflow-x: hidden;
    margin-top:0;
    padding:0 ;
   
    
} 
#head{
    border-bottom: 1px solid var(--silver);
    margin-right:80px ;
    margin-left: 80px;
}
#entete{
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

#entete .logo img{
    width: 180px;
}
#entete ul{
    margin-left: 200px;
    display: flex;
    
}

#entete ul li{
    
    margin-left: 30px;
}
#entete ul li a{

    font-size: 0.8rem;
    color: var(--muted);
}

#entete button{
    border: #007bff;
    height: 40px;
    border-radius: 5px ;
    width: 143px;
    color: var(--white);
   background-color: var(--lightprimary);
    
}

#entete button:hover{
    background-color:var(--primary) ;
    cursor: pointer;
}
/* #entete ul li a:visited{
    color: var(--lightprimary);
} */

#service{
    display: flex;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#service .left{
    margin-left: 80px;
    width: 50%;
    margin-top: 50px;
    
}
#service .left h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: 30px;
   
}
#service .left h1 span{
    color: var(--yellow);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    
}
#service .left  p{
    font-size: 0.9rem;
    color: var(--muted);
    margin-bottom: 40px;
}

#service .left .bttn button{
    width: 125px;
    height: 40px;
    margin-right: 40px;
    border-radius: 5px;
    border: 1px solid var(--muted);
}
#service .left .bttn button:first-child{
    background-color: var(--lightprimary);
    color: var(--white);
    font-size: 11px;
}
#service .left .bttn button:last-child{
    background-color: var(--white);
    font-size: 11px;
    color: var(--muted);
}
#service .right img{
    width: 550px;

}
#service .right {
    margin-right: 145px;
}
#service .left .bttn button:hover{
    background-color: var(--primary);
    cursor: pointer;
}
#service .left .bttn button:last-child:hover{
    color: var(--white);
    
}

#get-service{
   
    background-color: var(--lightprimary);
    margin: 0;
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    
    
}

#get-service .title{
    color: var(--white);
    left: 80px;
}

#get-service .title h2{
    font-size: 2rem;
    font-weight: bold;
}

#get-service .links {
    margin-top:4px ;
    display: flex;
    margin-bottom: 15px;
}
#get-service .links div{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--whiteBG);
    border: 1px solid var(--primary);
    height: 120px;
    padding: 20px;
    width: 130px;
    margin-left: 30px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    
    
}
#get-service .links div:hover{
    background-color: #c4cad1;
    cursor: pointer;
    
}

#get-service .links div img{
    width: 35px;
    align-self: center;
    margin-bottom: 10px;
}
#get-service .links div a{
    font-size: 0.8rem;
    text-align: center;
    color: var(--muted);
    
}

#Provide{
    display: flex ;
    
}
#Provide .img{
    
    background-color: #fcfafa;
    padding-top: 80px;
    
    padding-bottom: 80px;
    border-bottom-right-radius: 80px;
}

#Provide .img img{
   width: 405px;
   margin-left: 80px;
}
#Provide .list{
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(4, fr);
    column-gap: 80px;
    row-gap: 10px;
}
.element1{
    grid-column: 1;
    grid-row: 1;
}
.element2{
    grid-column: 1;
    grid-row: 2;
}
.element3{
    grid-column: 1;
    grid-row: 3;
}
.element4{
    grid-column: 1;
    grid-row: 4;
}

.element5{
    grid-column: 2;
    grid-row: 1;
}
.element6{
    grid-column: 2;
    grid-row: 2;
}
.element7{
    grid-column: 2;
    grid-row: 3;
}
.element8{
    grid-column: 2;
    grid-row: 4;
}
.provide{
    margin-left: 120px;
    margin-top: 100px;
}
.provide h2{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 450;
    color: var(--defaultLinkColor);
}
.provide .list div{
    display: flex;
    
}
.provide .list div img{
    width: 30px;
    height: 30px;
    margin-top: 13px;
    
}
.provide .list div p{
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 550;
    font-size: 1.1rem;
    color: var(--defaultLinkColor);
    
}


#special{
    
    line-height: 0;
    
    
}
#special .text h3{
    margin-bottom: 0;
   
    font-size: 1.7rem;
    font-weight: 550;
    color:var(--defaultLinkColor) ;
}

#special .text{
    position: relative;
    display: flex;
    padding-bottom: 0;
    margin-left: 40px;
    
}
#special .text h2{
    font-weight: bold;
    margin-left: 750px;
    margin-top: 50px;
    margin-bottom: 0;
}
#meet #special .text h2{
    margin-left: 608px;
}
#special .text h2 span{
    color: var(--yellow);
    font-weight: bold;
}

#special .specials{
    display: flex;
    flex-direction: row;
} 


 #special  .line{
    position: relative;
    border: 1px solid var(--muted);
    opacity: 0.4;
    width: 900px;
    
    
    margin-top: 20px;
    z-index: 1000;
    height: 1px;
    
}
.specials h3{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 2.6rem;
    margin-left: 80px;
    
   
} 


.elements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 30px;
    margin-left: 90px;
    margin-bottom: 70px;
}
.elements .tem{
    border: 1px solid var(--whiteBG);
    background-color: var(--whiteBG);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 295px;
    height: 240px;
    line-height: 1.1;
}
.elements .tem img{
    width: 80px;
    margin-top: 10px;
    

}
.elements .tem h6{
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--defaultLinkColor);
    margin: 9px;
    margin-top: 15px;

}

.elements .tem p{
    font-size: 13px;
    color: var(--muted);
}

#smile{
    background-color: var(--primary);
    margin: 0;
    text-align: center;
    padding: 70px;
}

#smile h3{
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 200;
}
#smile h3 span{
    font-size: 1.6rem;
    font-weight: bold;
}
#smile div{
     
     width: 590px;
    margin-left: 280px;
}

#smile p{
    line-height: 1.5;
    font-size: 0.9rem;
    color: var(--white);
}
#smile button{
    color: var(--white);
    height: 40px;
    width: 210px;
    border: 1px solid var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    margin-top: 10px;
}
#smile button:hover{
    background-color: var(--lightprimary);
    cursor: pointer;
}
#history{
   
    margin-bottom: 70px;
}
#history hr{
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px ;
    height: 2px;
}

.title-hitory{
    margin-bottom: 0;
}
.title-hitory .first{
    margin-left: 138px;
    margin-bottom: 0;
    display: inline-flex;
    
    justify-content: space-between;
}
.title-hitory .first span{
    color: var(--yellow);
    font-weight: 600;
}
.title-hitory .first h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom:0 ;
    
}
.title-hitory .first h3{
   font-size: 1.6rem;
    margin-bottom: 0;
    margin-left: 700px;
}
.title-hitory .second{
    display: inline-flex;
    margin-bottom: 0;
    height: 90px;
   
}
.title-hitory .second h3{
    margin-top: 0;
    margin-bottom: 180px;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
}

.our-history{
    display: flex;
    
    justify-content: space-evenly;
}
.our-history img{
    width: 400px;
}

.our-history .our{
    border: 1px solid var(--whiteBG);
    padding: 40px;
    padding-top: 30px;
    background-color: var(--whiteBG);
    width: 500px;
    border-radius: 15px;
    height: 265px;
    position: relative;
   right: 80px;
   
}
.our-history .our h4{
    font-weight: 600;
}

.our-history .our{
    font-size: 15px;
    color: var(--muted);
}
#meet{
    background-color: var(--whiteBG);
    height: 500px;
    padding-top: 60px;
    padding-bottom: 550px;
    margin: 0;
}
#meet .specials hr{
    width: 1000px;
}
#meet .doctor{
    display: flex;
    margin-left: 140px;
    margin-right: 130px;

}

#meet .doctor div{
    text-align: center;
    width: 160px;
    margin-left: 80px;
    
}

#meet .doctor div img{
    width: 160px;
}

#meet .doctor div h5{
    font-size: 1rem;
    margin-bottom: 0;
}
#meet .doctor div p{
    font-size: 13px;
    color: var(--muted);
    line-height: 1.3;
}

#meet .doctor div button{
    color: var(--primary);
    height: 40px;
    width: 150px;
    border: 1px solid var(--primary);
    background-color: var(--whiteBG);
    border-radius: 5px;
    margin-top: 10px;
}
#meet .doctor div button:hover{
    background-color: var(--lightprimary);
    color: white;
}

#client-says{
    background-color: var(--lightprimary);
    margin: 0;
    display: flex;
    height: 400px;
    padding-top: 40px;
    padding-left: 180px;
    padding-right: 180px;
}
#client-says .image{
    text-align: center;
    padding: 30px;
    background-color: var(--white);
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
#client-says div img{
    width: 210px;
}

#client-says .desc{
    width: 550px;
    margin-left: 40px;
    color: var(--white);
    margin-top: 40px;
}
#client-says .desc p{
    line-height: 180%;
    font-size: small;
    color: var(--silver);
}
#client-says .desc span{
    position: relative;
    margin-left:200px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--silver);
}
.tittle .text{
    display: flex;
    justify-content: space-between;
}
#consult{
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
#consult #history{
    margin-left: 0px;
    
    
}

#consult .first h2{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 10px;
    width: 450px;
}
#consult .first h3{
    margin-left: 400px;
    width: 280px;
    margin-bottom: 0;
    margin-right: 50px;
}

.consult-content{
    margin-top: 0;
    display: flex;
    margin-left: 120px;
    margin-bottom: 40px;
    
    
}

.consult-content img{
    width: 345px;
    height: 450px;
    margin-top: 15px;
}

.consult-content form{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 40px;
}

.consult-content form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
}
.consult-content form div div{
    display: flex;
    flex-direction: column;
}
#phone{
    position: absolute;
     margin-top: 14px;
}
.tel{
    width: 50px;
    z-index: 1000;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   
}
.consult-content form div  #phone::placeholder{
    padding-left: 50px;
    
    
}
.consult-content form div  #phone{
    width: 200px;
}
.consult-content form div  input, select{
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid var(--silver);
    margin-bottom: 10px;
    
}
.consult-content form div div label{
    font-size: 12px;
}
.consult-content form textarea{
    width: 450px;
    border-radius: 8px;
    border: 1px solid var(--silver);
    margin-top: 10px;
}
.consult-content form .policy{
    display: inline;
   
    margin-bottom: 20px;

}
#policy{
    width: 15px;
    margin-top: 60px;
}
.consult-content form .policy label{
    font-size: 12px;
    margin-bottom: 40px;
    position: relative;
    bottom: 11px;

}

.consult-content form button{
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--muted);
    color: var(--white);
    background-color: var(--primary);

}
.consult-content form button:hover{
    background-color: var(--lightprimary);
}

#subscribe{
    margin: 0;
    text-align: center;
    background-color: var(--whiteBG);
    padding: 50px;
}

.subscribe{
    width: 60% ;
    padding-top:30px ;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(14, 68, 99);
    align-items: center;
    margin-left: 20%;
    height: 180px;
    margin-top: 40px;
    border-radius: 15px;
    color: var(--white);
    
}
.subscribe h3{
    font-size: 23px;
}

.subscribe form input{
    width: 140px;
    height: 30px;
    border: 1px solid rgb(14, 68, 99);
    border-radius: 3px;
    margin: 5px;
    background-color: var(--silver);
}
.subscribe form input::placeholder{
    font-size: 10px;
    color: white;
    padding-left: 10px;
}
.subscribe form button{
    width: 135px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid rgb(14, 68, 99);

}
.subscribe form button:hover{
    background-color: #777777;
}
#foot{
    color: var(--silver);
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    
    background-color: var(--lightprimary);
}
#foot .info{
    display: flex;
}
#foot .info .info-one{
    padding-top: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
#foot .info .info-one img{
    margin-bottom: 20px;
    width: 130px;
    filter: brightness(10);
}

#foot .info .info-one p{
    font-size: 10px;
    margin-right: 35px;
    color: var(--silver);
    line-height: 2;
}
hr{
    opacity: 0.2;
    height: 145px;
    margin-bottom: 0;
    margin-top: 50px;
}

#foot .info .info-two{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 38px;
}

#foot .info .info-two p{
    font-size: 10px;
    line-height: 1.5;
    color: var(--silver);
}

#foot .info .info-two h4{
    font-size: 1.1rem;
    font-weight: bold;
}

#foot .info .info-three{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#foot .info .info-three h6{
    font-size: 10px;
}

#foot .info .info-three .linkss{
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#foot .info .info-three .linkss a{
    color: var(--silver);
    font-size: 12px;
    width: 100px;
    row-gap: 10px;
}

#foot .info .info-fort{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    
}
#foot .info .info-fort p{
    font-size: 11px;
    line-height: 2;
}
#foot .info .info-fort h6{
    font-size: 10px;
}

.foote{
    background-color: rgb(14, 68, 99) ;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 8px;
    height: 50px;
    color: white;
    font-size: 12px;
}